@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap');

#header-img {
    height: 50px;
}
body,
textarea {
    font-family: Poppins, sans-serif, Arial;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    scroll-behavior: smooth;
}
button,
input[type='submit'] {
    font-family: Poppins, Arial;
    background-color: #ffb700;
    border-radius: 5px;
    color: #000;
    border: none;
}
#header {
    padding: 5px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: #fff;
    box-shadow: #ccc 0 1px 5px;
}
#logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

nav {
    display: flex;
}
section {
    margin: auto;
    width: 800px;
}

.nav-link {
    margin: 5px;
    display: block;
    text-decoration: none;
    color: #000;
}
#features {
    margin: none;
    width: 800px;
}
#features .box {
    display: flex;
    justify-content: space-around;
}
.feature-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1;
}
#showcase {
    background-color: #ffb700;
    width: 100%;
}
.showcase-grid {
    display: flex;
    width: inherit;
}

.column {
    flex: 1;
}
.showcase-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.showcase-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    padding: 1.5rem;
}
.showcase-tagline {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #fff;
    margin-bottom: 1rem;
}
.showcase-blurb {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
#showcase button {
    background-color: #fff;
}
#showcase button {
    margin-top: 20px;
    background-color: #fff;
    padding: 5px 10px;
    transition: transform 0.5s;
}
#showcase button:hover {
    color: #000;
    transform: translatey(-10%);
}
#features,
#products {
    padding-top: 40px;
    padding-bottom: 40px;
}
#features div svg {
    margin-right: 25px;
}
#products .box {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}
.price-title {
    text-transform: uppercase;
    text-align: center !important;
}

#video {
    width: 560px;
    height: 315px;
}
.bronze {
    background-color: #cd7f32;
}
.silver {
    background-color: #c0c0c0;
}
.gold {
    background-color: #ffb700;
}
#features h3,
#products h3,
#showcase h3,
#contact {
    text-align: center;
}

.price-box {
    text-align: center;
    min-width: 200px;
    background-color: #eee;
    transition: transform 0.5s;
}
.price-box:hover {
    transform: scale(1.1);
}
.price-box div {
    text-align: left;
    padding: 10px;
}
.price-box button {
    margin-bottom: 10px;
}

img {
    color: #fff;
}
.price-box button,
#contact input[type='submit'] {
    padding: 5px 10px;
}
input[type='submit']:hover,
button:hover {
    color: #fff;
    cursor: pointer;
}
#hero {
    height: 400px;
    display: flex;

    justify-content: center;
    width: 100%;
    align-items: center;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('./assets/hero.jpg') center/cover;
    height: 80vh;
}
#hero h3 {
    letter-spacing: 0.2em;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
}
#hero h1 {
    text-transform: capitalize;
    color: #fff;
}
#hero img {
    height: 200px;

    margin-left: 25px;
}

#hero a {
    font-family: Poppins, Arial;
    background-color: #fff;
    text-align: center;
    border: 1px #000 solid;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    color: #000;
    width: fit-content;
    border-radius: 5px;
}
#hero div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hero {
    text-align: center;
}
#hero a:hover {
    font-family: Poppins, Arial;
    background-color: #ffb700;

    color: #fff;

    cursor: pointer;
}
#contact {
    background-color: #555555;
    display: flex;
    width: 100%;
}
#contact img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#contact input {
    margin: 5px 0;
}
#contact form {
    color: #fff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;

    padding: 15px;
}
#contact input[type='submit'] {
    background-color: #ccc;
}
#contact label {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

    text-align: left;
}
#contact textarea {
    height: 15rem;
    border-radius: 5px;
}
#contact input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}
#contact div {
    text-align: left;
}

footer {
    text-align: center;
    background-color: #fff;
    padding: 15px 20px;
    box-shadow: #ccc 0 -1px 5px;
}

@media (max-width: 800px) {
    section {
        width: 100%;
    }
    #products .box {
        grid-template-columns: 1fr;
    }
    .price-box {
        margin: auto;
    }
    .price-title {
    }
    .price-box div {
        text-align: center;
    }
    #header {
        flex-direction: column;
        z-index: 2;
    }
    nav {
        flex-direction: column;
    }
    #hero {
        text-align: center;
    }
    #hero img {
        display: none;
    }
    #slogan {
        width: 100%;
    }
    #features {
        width: 100%;
    }
    #features .box {
        grid-template-columns: 1fr;
        padding: 5px;
        margin: 5px;
    }
    .feature-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #features svg {
        display: none;
    }
    .showcase-grid {
        flex-direction: column;
    }
    .showcase-left {
        /* position: relative;
        padding-top: 56.25%; */
    }

    #video {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    #contact {
        flex-direction: column-reverse;
    }
    #contact form {
        margin: 0 5px;
    }
}

.line {
    flex-direction: row;
}
